html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }



body { 
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(background.png) repeat top center;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:1000px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:1000px;
	height:450px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:1219px;
	height:461px;
	top:-3px;
	left:-80px;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:184px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:1000px;
	height:400px;
	overflow:hidden;
	position:relative;
}

.slides_event{
    position: absolute;
    width: 1000px;
    height: 400px;
    z-index:1000;
}

#event1{
    background-image: url("/version0116/imag/event02.png");
    background-repeat: no-repeat;
}

#event2{
    background-image: url("/version0116/imag/event02.png");
    background-repeat: no-repeat;
}

#event3{
    background-image: url("/version0116/imag/event02.png");
    background-repeat: no-repeat;
}

#event4{
    background-image: url("/version0116/imag/event02.png");
    background-repeat: no-repeat;
}

.availableSpot{
    position: absolute;
    top: 65px;
    left: 440px;
    font-size: 3.0em;
    /*font-weight: bolder;*/
    /*폰트 스타일*/
    color: white;
}

.eventName{
    position: absolute;
    top: 110px;
    left: 296px;
    font-size: 5.0em;
    font-weight: bolder;
    /*폰트 스타일*/
    color: white;
}
    
.saleName{
    position: absolute;
    top: 250px;
    left: 140px;
    font-size: 3.5em;
    font-weight: bolder;
    /*폰트 스타일*/
    color: #FF45A7;
}

.eventDay{
    position: absolute;
    top: 360px;
    left: 40px;
    font-size: 1.5em;
    font-weight: bolder;
    /*폰트 스타일*/
    color: #02A5AF;
    
}

.eventStart{
    position: absolute;
    top: 360px;
    left: 135px;
    font-size: 1.5em;
    font-weight: bolder;
    /*폰트 스타일*/
    color: #02A5AF;
}

.and{
    position: absolute;
    top: 360px;
    left: 215px;
    font-size: 1.5em;
    font-weight: bolder;
    /*폰트 스타일*/
    color: #02A5AF;    
}

.eventEnd{
    position: absolute;
    top: 360px;
    left: 240px;
    font-size: 1.5em;
    font-weight: bolder;
    /*폰트 스타일*/
    color: #02A5AF;
}


#slides .next {
	left:1021px;
}

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/version0116/images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}










/*a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}*/